html {
  font-size: 100%;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* So images don't exceed their container */
img {
  max-width: 100%;
}

fieldset {
  border: none;
}

:root {
  font-size: 16px;
  font-family: var(--montserrat);
}