@use "partials/mixins";

.servings {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0.75rem;

    .material-icons.md-12 {
        font-size: 1rem;

        &.orange600 {
            color: var(--orange);
        }
    }

    &__details {
        display: flex;
        align-items: center;
        min-width: 5rem;
        gap: 5%;
        margin-bottom: 1.3rem;
        margin-right: auto;

        & div {
            h4 {
                font-weight: 700;
                font-size: 0.5rem;
                color: var(--light-grey);
            }

            p {
                font-weight: 500;
                font-size: 0.625rem;
                color: var(--dark-grey);
            }
        }

        &:first-of-type {
            margin-right: 90%;

            p {
                color: var(--orange);
            }
        }
    }
}

// Desktop Styling
@include mixins.breakpoint-up(large) {
    .servings {
        flex-direction: column;
        float: right;
        margin-left: 15%;
        padding: 4%;
        border-radius: 5%;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);

        &__details {
            margin: 0;
            &:where(:not(:last-of-type)){
                margin-bottom: 25%;
            }
        }
    }
}