@use "reset";
@use "partials/variables";
@use "partials/mixins";

@use "header";
@use "servings";
@use "ingredients";
@use "instructions";

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,700;1,500&family=Playfair+Display:wght@400;700&display=swap");


#wrapper {
    max-width: 94vw;
    margin: 2.5vh auto;
}

section+p {
    margin: 1.625rem 0;
    font-style: italic;
    font-size: 0.75rem;
    color: var(--light-grey);
}

/* Desktop Styling */
@include mixins.breakpoint-up(large) {
    #wrapper {
        max-width: 75vw;
    }
}