@use "./partials/reset";
@use "./partials/variables";

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,700;1,500&family=Playfair+Display:wght@400;700&display=swap");

:root {
    font-size: 16px;
    font-family: var(--montserrat);
}

#wrapper {
    max-width: 94vw;
    margin: 2.5vh auto;
}

header {
    h1 {
        font: 700 1.5rem var(--playfair);
    }

    div {
        display: flex;
        align-items: baseline;
        gap: 3%;
        margin: 0.75rem 0 1.5rem;

        p {
            font-weight: 500;
            font-size: 0.75rem;
            font-style: italic;
            color: var(--dark-grey);
        }
    }

    &+img {
        margin-bottom: 1.5rem;
    }
}

.servings {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0.75rem;

    .material-icons.md-12 {
        font-size: 1rem;

        &.orange600 {
            color: var(--orange);
        }
    }

    &__details {
        display: flex;
        align-items: center;
        min-width: 5rem;
        gap: 5%;
        margin-bottom: 1.3rem;
        margin-right: auto;

        & div {
            h4 {
                font-weight: 700;
                font-size: 0.5rem;
                color: var(--light-grey);
            }

            p {
                font-weight: 500;
                font-size: 0.625rem;
                color: var(--dark-grey);
            }
        }

        &:first-of-type {
            margin-right: 90%;

            p {
                color: var(--orange);
            }
        }
    }
}

.ingredients {
    h2 {
        font: 700 1.125rem var(--playfair);
        color: var(--very-dark-grey);
        margin-bottom: 0.75rem;
    }

    fieldset {
        margin-bottom: 2rem;
        legend {
            font: italic 400 1rem var(--playfair);
            margin-bottom: 1rem;
        }

        .inputs {
            display: flex;
            gap: 1%;

            label {
                font: 400 0.875rem var(--montserrat);
            }
        }
    }
}