@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,700;1,500&family=Playfair+Display:wght@400;700&display=swap");
html {
  font-size: 100%;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* So images don't exceed their container */
img {
  max-width: 100%;
}

fieldset {
  border: none;
}

:root {
  font-size: 16px;
  font-family: var(--montserrat);
}

:root {
  --montserrat: "Montserrat", sans-serif;
  --playfair: "Playfair Display", serif;
  --orange: #f2994a;
  --light-grey: #bdbdbd;
  --dark-grey: #4f4f4f;
  --very-dark-grey: #333333;
  --black: #000000;
}

header h1 {
  font: 700 1.5rem var(--playfair);
}
header div {
  display: flex;
  align-items: baseline;
  gap: 3%;
  margin: 0.75rem 0 1.5rem;
}
header div p {
  font-weight: 500;
  font-size: 0.75rem;
  font-style: italic;
  color: var(--dark-grey);
}
header + img {
  margin-bottom: 1.5rem;
}

@media (min-width: 64em) {
  header {
    max-width: 60%;
  }
  header h1 {
    font-size: 3rem;
    width: 130%;
  }
  header p {
    font-size: 0.875rem;
  }
}
.servings {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0.75rem;
}
.servings .material-icons.md-12 {
  font-size: 1rem;
}
.servings .material-icons.md-12.orange600 {
  color: var(--orange);
}
.servings__details {
  display: flex;
  align-items: center;
  min-width: 5rem;
  gap: 5%;
  margin-bottom: 1.3rem;
  margin-right: auto;
}
.servings__details div h4 {
  font-weight: 700;
  font-size: 0.5rem;
  color: var(--light-grey);
}
.servings__details div p {
  font-weight: 500;
  font-size: 0.625rem;
  color: var(--dark-grey);
}
.servings__details:first-of-type {
  margin-right: 90%;
}
.servings__details:first-of-type p {
  color: var(--orange);
}

@media (min-width: 64em) {
  .servings {
    flex-direction: column;
    float: right;
    margin-left: 15%;
    padding: 4%;
    border-radius: 5%;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  }
  .servings__details {
    margin: 0;
  }
  .servings__details:where(:not(:last-of-type)) {
    margin-bottom: 25%;
  }
}
.ingredients h2 {
  font: 700 1.125rem var(--playfair);
  color: var(--very-dark-grey);
  margin-bottom: 0.75rem;
}
.ingredients fieldset {
  margin-bottom: 2rem;
}
.ingredients fieldset legend {
  font: italic 400 1rem var(--playfair);
  margin-bottom: 1rem;
}
.ingredients fieldset .inputs {
  display: flex;
  gap: 1%;
}
.ingredients fieldset .inputs label {
  font: 400 0.875rem var(--montserrat);
}

.instructions h1 {
  font: 700 1.5rem var(--playfair);
  margin-bottom: 1.5rem;
}
.instructions ol {
  margin: 0 auto;
  max-width: 94%;
}
.instructions li {
  font: 400 1rem var(--montserrat);
}
.instructions ol {
  counter-reset: li;
}
.instructions ol li {
  list-style: none;
  counter-increment: li;
  position: relative;
  padding-left: 2rem;
  margin-bottom: 7%;
}
.instructions ol li::before {
  content: counter(li);
  position: absolute;
  left: -1rem;
  color: #fff;
  width: 2.25rem;
  height: 2.25rem;
  background-color: var(--orange);
  border-radius: 25%;
  font-weight: 700;
  font-family: var(--playfair);
  font-size: 1.25rem;
  text-align: center;
}

@media (min-width: 64em) {
  .instructions {
    max-width: 50vw;
  }
}
#wrapper {
  max-width: 94vw;
  margin: 2.5vh auto;
}

section + p {
  margin: 1.625rem 0;
  font-style: italic;
  font-size: 0.75rem;
  color: var(--light-grey);
}

/* Desktop Styling */
@media (min-width: 64em) {
  #wrapper {
    max-width: 75vw;
  }
}

/*# sourceMappingURL=styles.css.map */
