:root {
    //Fonts
    --montserrat: 'Montserrat', sans-serif;
    --playfair: 'Playfair Display', serif;

    //Colours
    --orange: #f2994a;
    --light-grey: #bdbdbd;
    --dark-grey: #4f4f4f;
    --very-dark-grey: #333333;
    --black: #000000;
}